default: &default
  adapter: sqlite3
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  timeout: 5000

development:
  <<: *default
  database: db/development.sqlite3

test:
  <<: *default
  database: db/test.sqlite3

production:
  adapter: postgresql
  encoding: unicode
  url: <%= ENV['postgresql://campus_eats_db_user:77g5n81nmb78t1iuTcoSlbpHVROFt3pl@dpg-d4ntt48gjchc73c66u10-a/campus_eats_db'] %>
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

# SolidQueue 用 (Rails 8 デフォルトジョブキュー)
queue:
  adapter: postgresql
  encoding: unicode
  url: <%= ENV['postgresql://campus_eats_db_user:77g5n81nmb78t1iuTcoSlbpHVROFt3pl@dpg-d4ntt48gjchc73c66u10-a/campus_eats_db'] %>

# Action Cable 用設定
cable:
  production:
    adapter: postgresql
    url: <%= ENV['postgresql://campus_eats_db_user:77g5n81nmb78t1iuTcoSlbpHVROFt3pl@dpg-d4ntt48gjchc73c66u10-a/campus_eats_db'] %>
